<div class="top_footer">
  <div class="left_footer">Version <!-- TMPL_VAR NAME=version --></div>
  <div class="right_footer">Powered by <a href="http://nbcr.net/software/opal/"
  >Opal</a></div>
  <div class="middle_footer">Please send comments and questions to: 
  <a href="mailto:<!-- TMPL_VAR NAME=help_email -->"
  ><!-- TMPL_VAR NAME=help_email --></a></div>
</div>
<hr>
<div class="bottom_footer">
  <ul>
    <li><a href="../intro.html">Home</a></li>
    <li><a href="../intro.html">Submit a Job</a></li>
    <li><a href="../documentation.html">Documentation</a></li>
    <li><a href="../downloads.html">Downloads</a></li>
    <li><a href="../resources.html">User Support</a></li>
    <li><a href="../alternates.html">Alternate Servers</a></li>
    <li><a href="../doc/authors.html">Authors</a></li>
    <li><a href="../doc/cite.html">Citing</a></li>
  </ul>
</div>

