.memesuitelogo {
  margin-bottom: 20px;
}

.memesuitelogo * {
  font-style: normal;
  font-weight: bold;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

.memesuitelogo h1 {
  font-size: 36px;
  color: #008F8F;
}
.memesuitelogo h2 {
  font-size: 22px;
  display: inline;
  padding-bottom: 5px;
  border-bottom-color: #008F8F; 
  border-bottom-style: double;
}

table.options tr {
  vertical-align: top;
}

table.options tr td {
  padding-right: 10px;
  padding-bottom: 10px;
}

table.options thead {
  background-color: #CCC;
}

table.options > tbody:nth-child(even), table.light > tbody {
  background-color: #EEE;
}
table.options > tbody:nth-child(odd), table.dark > tbody {
  background-color: #DDD;
}

*.indent {
  margin-left: 10px;
}

*.cmd {
  font-family: monospace;
  white-space: nowrap;
}

div.command_list {
  white-space: pre-line;
  font-family:monospace; 
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

div.command_list span.pdat {
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.command_list span.flat {
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

div.usage {
  
}
div.usage h3 {
  display: inline;
}

.popt {
  white-space: nowrap;
  font-family: monospace;
}

span.pdat {
  white-space: nowrap;
  border: 1px solid gray;
  background: #E4ECEC;
}

span.poptional {
  display: inline-block;
  border: 2px dashed red;
  padding: 2px;
}

span.pskp {
  color: #B8B8B8;
}

span.experimental {
  display: inline-block;
  font-variant: small-caps;
  padding: 1px;
  border: 1px solid red;
  color: red;
  font-size: xx-small;
  vertical-align: middle;
}

*.citation { 
  color: #002E0F;
  font-family: "Book Antiqua", "Palatino Linotype", serif;
}

a {
    text-decoration: none;
    color: #02656A;
}

a:hover {
    text-decoration: underline;
    color: #AA2244;
}

h6 {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 5px;
}

h5 + p, h5 + pre {
  margin-top: 2px;
}

h6 + p, h6 + pre {
  margin-top: 2px;
}

div.indent > * {
  margin-top: 5px;
}

/*****************************************************************************
 * Program logo styling
 ****************************************************************************/
div.prog_logo {
  border-bottom: 0.25em solid #0f5f60;
  height: 4.5em;
  width: 24em;
  display:inline-block;
}
div.prog_logo img {
  float:left;
  width: 4em;
  border-style: none;
  margin-right: 0.2em;
}
div.prog_logo h1, div.prog_logo h1:hover, div.prog_logo h1:active, div.prog_logo h1:visited {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica,  sans-serif;
  font-size: 3.2em;
  line-height: 1em;
  vertical-align: top;
  display: block;
  color: #026666;
  letter-spacing: -0.06em;
  text-shadow: 0.04em 0.06em 0.05em #666;
}
div.prog_logo h2, div.prog_logo h2:hover, div.prog_logo h2:active, div.prog_logo h2:visited {
  display: block;
  margin:0;
  padding:0;
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1em;
  letter-spacing: -0.06em;
  color: black;
}

/*****************************************************************************
 * Imported from site.css
 ****************************************************************************/
#js_footer table {
  border-collapse: collapse;
}
#js_footer td {
  margin: 0px;
  padding: 5px;
  border: 0px;
  font-family: Arial;
  font-size: 12px;
  color: #000000;
}
#js_footer a {
  text-decoration: none;
  color: #02656A;
}
#js_footer a:hover {
  text-decoration: underline;
  color: #AA2244;
}
img {
  border-width:0px;
}

div.content_box {
  padding:8px;
  width:654px;
}

div.help {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 12px;
  height: 13px;
  cursor: pointer;
  background-image: url(data:image/gif;base64,R0lGODlhDAANAIABANR0AP///yH5BAEAAAEALAAAAAAMAA0AAAIdhI8Xy22MIFgv1DttrrJ7mlGNNo4c+aFg6SQuUAAAOw==);
}

div.help:hover {
  background-image: url(data:image/gif;base64,R0lGODlhDAANAKEAANR0AP///9R0ANR0ACH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEAAAIALAAAAAAMAA0AAAIdDGynCe3PgoxONntvwqz2/z2K2ImjR0KhmSIZUgAAOw==);
}

div.no_script {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
div.no_script_warning {
  width: 400px;
  min-height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 3px double black;
  background-color: #FFC;
  padding: 5px;
}
div.no_script_warning h1 {
  margin-top: 0;
}

div.header {
}

div.header.pad {
  margin-bottom: 10px;
}

div.header_img {
  float:left;
  width:370px;
  clear:none;
}
div.header_logo {
  float:left;
  clear:none;
  margin-right: 10px;
}

div.header_ver {
  width:100%;
  text-align:center;
  font-size: 12px;
  font-family: Arial;
  color: #000000;
}

p.header_blurb {
  clear:none;
  text-align: justify;
  line-height: 0.9;
}

div.header_end {
  clear: both;
}

div.meme {
  padding-top:10px;
  clear:both;
}

.blurb {
  font-size: 12px;
  font-family: Arial;
  color: #000000;
}

.blurb dfn {
  font-style: normal;
  font-weight: bold;
}

.blurb em {
  font-style: normal;
  font-weight: bold;
  color: red;
}

.blurb nav {
  display: inline;
}

h2.meme {
  font-size: 1em; 
  font-style: normal;
  margin: 15px 0 0;
  font-family: Arial, serif;
}
h2.top {
  margin-top: 2px;
}

h3.meme {
  font-size: 0.9em; 
  font-style: normal;
  margin: 5px 0 0;
  font-family: Arial, serif;
}
h3.top {
  margin-top: 2px;
}

h4.meme {
  font-weight: normal;
  font-style: normal;
  margin: 2px 0;
}
h4.top {
  margin-top: 2px;
}

p.meme {
  margin: 2px 0;
}

p.more_content {
  margin: 2px;
  font-size: small;
}

div.pop_content {
  position:absolute;
  z-index:1;
  width:300px;
  padding: 5px;
  background: #E4ECEC;
  font-size: 12px;
  font-family: Arial;
  border-style: double;
  border-width: 3px;
  border-color: #AA2244;
  display:none;
}

div.pop_content > *:first-child {
  margin-top: 0px;
}

div.pop_content h1, div.pop_content h2, div.pop_content h3, div.pop_content h4, 
div.pop_content h5, div.pop_content h6, div.pop_content p {
  margin: 0px;
}

div.pop_content p + h1, div.pop_content p + h2, div.pop_content p + h3, 
div.pop_content p + h4, div.pop_content p + h5, div.pop_content p + h6 {
  margin-top: 5px;
}

div.pop_content p + p {
  margin-top: 5px;
}



div.pop_content > *:last-child {
  margin-bottom: 0px;
}

div.pop_close {
  float:right; 
  bottom:0px;
}

div.subcontent {
  margin-left: 20px;
}

a {
    text-decoration: none;
    color: #02656A;
}

a:hover {
    text-decoration: underline;
    color: #AA2244;
}

fieldset {
    border: #000000 solid 1px;
}
legend {
  border: #000000 solid 1px;
  padding: 1px 10px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
}
label {
  font-size: 0.9em;
}
select.meme {
  background-color: #E4ECEC;
  font-size: 13px;
  border: black solid 1px;
  color: black;
}

select.meme[disabled] {
  color:lightgray;
  background-color:gray;
}

input.meme, textarea.meme {
  font-family: Arial;
  font-size: 13px;
  color: #000000;
  border: #000000 solid 1px;
  background-color: #E4ECEC;
}

input.meme:disabled, textarea.meme:disabled {
  color:lightgray;
  background-color: gray;
}

input.meme[type="file"] {
  border: none;
  font-size: 11px;
}

/* firefox decided that it was going to ignore the size field... *sigh* */
input.sz1 {
  width: 1.5em;
}

input.sz2 {
  width: 2.5em;
}

input.sz3 {
  width: 3.5em;
}

input.sz4 {
  width: 4.5em;
}

input.sz5 {
  width: 5.5em;
}

input.sz6 {
  width: 6.5em;
}

input.sz7 {
  width: 7.5em;
}

div.tabs {
  font-size: 80%;
  font-weight: bold;
}

a.tab {
  font-size: 12px;
  background-color: #f0f0f0;
  border: 1px solid #000000;
  border-top-width: 0px;
  padding: 2px 1em 2px 1em;
  text-decoration: none;
}

a.tab, a.tab:visited {
  color: #808080;
}

a.tab:hover {
  background-color: #d0d0d0;
  color: #606060;
}

a.tab.active_tab, a.tab.active_tab:hover, a.tab.active_tab:visited {
  background-color: #c0c0c0;
  color: #000000;
}

dl.meanings dt {font-weight: bold;}
dl.meanings dd {margin-left: 10px;}


/* these style the footer at the bottom of the submission pages */
div.top_footer {
  width: 100%;
  font-weight: bold;
  font-size: 0.6em;
  margin-top: 5px;
}
div.left_footer {
  float:left;
}
div.right_footer {
  float:right;
}
div.middle_footer {
  text-align: center;
}
div.bottom_footer {
  display: table;
  padding: 0;
  margin: 0 auto;
}
div.bottom_footer ul {
  font-size: 0.7em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.bottom_footer ul li {
  display: inline;
  padding: 5px;
  margin: 0;
}

/* These styles are for the Advanced Options buttons */
div.more_opts {
  /* make it behave like a link */
  cursor: pointer;
  /* heading font styling */
  font-size: 0.8em; 
  font-style: normal;
  font-family: Arial, serif;
  font-weight: bold;
  /* curved border */
  border: 2px outset #02656A;
  border-radius: 5px;
  /* padding */
  margin: 0;
  padding: 2px 5px;
  /* background failback */
  background-color: #A6C9CA;
  /* background gradient on modern browsers */ 
  background: -webkit-linear-gradient(top, #A6C9CA, #E4ECEC); 
  background: -moz-linear-gradient(top, #A6C9CA, #E4ECEC); 
  background: -ms-linear-gradient(top, #A6C9CA, #E4ECEC); 
  background: -o-linear-gradient(top, #A6C9CA, #E4ECEC);
  /* disable visible text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.more_opts:hover {
  color: #AA2244;
}
div.more_opts:active {
  border-style: inset;
  color: #884466;
}
div.more_opts.expanded {
  border-radius: 5px 5px 0 0;
}
div.more_opts > span.expanded {
  display: none;
}
div.more_opts > span.collapsed {
  display: inline;
}
div.more_opts.expanded > span.expanded {
  display:inline;
}
div.more_opts.expanded > span.collapsed {
  display:none;
}
div.more_opts > span.modified {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-variant: small-caps;
  display: none;
}
div.more_opts:active > span.modified {
  color: #CCC;
  text-shadow: -0.1em -0.1em 0.2em #666;
}
div.more_opts.modified > span.modified {
  display: inline;
}
div.more_opts.expanded > span.modified {
  display: none;
}
div.more_opts > span.reset {
  color: black;
  float: right;
  display: none;
}
div.more_opts:active > span.reset {
  color: #666;
}
div.more_opts > span.reset:hover {
  color: white;
  background: #AA2244;
}
div.more_opts.modified > span.reset {
  display: inline;
}
div.more_opts.expanded > span.reset {
  display: inline;
}

div.more_opts + div {
  display:none;
  border: 2px solid #A6C9CA;
  border-radius: 0 0 5px 5px;
  margin-top: 0;
  padding: 5px;
}
div.more_opts.expanded + div {
  display: block;
}

dd ul {
  margin-left: 0;
  padding-left: 0;
}

/* These styles create are for the centered submit buttons */
div.submit_buttons {
  text-align: center;
}
