                  <option value="<!-- TMPL_VAR ESCAPE=HTML NAME=db_id -->" 
                  <!-- TMPL_IF NAME=selected -->selected<!-- /TMPL_IF -->
                  ><!-- TMPL_VAR NAME=db_name --></option>

