<hr/>
<style type="text/css">
  td.table_label {
    width:20em;
  }
  h5.section_label {
    margin-top:5px;
    margin-bottom:5px;
  }
  table.info {
    margin-bottom:20px;
  }
</style>
<!-- TMPL_IF NAME=description -->
<h5 class="section_label">Description</h5>
<pre><!-- TMPL_VAR ESCAPE=HTML NAME=description --></pre>
<!-- /TMPL_IF -->

<h5 class="section_label">Settings</h5>
<table class="info">
  <tr><td class="table_label">Motifs File</td>
  <td><!-- TMPL_VAR ESCAPE=HTML NAME=motifs_orig_name --></td></tr>
  <!-- TMPL_IF NAME=seqs_name -->
  <tr><td class="table_label">Uploaded Sequence File</td>
  <td><!-- TMPL_VAR ESCAPE=HTML NAME=seqs_orig_name --></td></tr>
  <!-- TMPL_ELSE -->
  <tr><td class="table_label">Sequence Database</td>
  <td><!-- TMPL_VAR NAME=db_name --></td></tr>
  <!-- /TMPL_IF -->
  <!-- TMPL_IF NAME=strand_treatment -->
  <tr><td class="table_label">Reverse complement strand</td>
  <td><!-- TMPL_VAR NAME=strand_treatment --></td></tr>
  <!-- /TMPL_IF -->
  <tr><td class="table_label">Display Sequences with E-value</td>
  <td>&lt; <!-- TMPL_VAR ESCAPE=HTML NAME=ev --></td></tr>
  <!-- TMPL_IF NAME=mev -->
  <tr><td class="table_label">Ignore Motifs with E-value</td>
  <td>&gt; <!-- TMPL_VAR ESCAPE=HTML NAME=mev --></td></tr>
  <!-- /TMPL_IF -->
  <tr><td class="table_label">Per Sequence Background</td>
  <td><!-- TMPL_IF NAME=comp -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
  <tr><td class="table_label">Motif Display Threshold Scaling</td>
  <td><!-- TMPL_IF NAME=seqp -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
  <tr><td class="table_label">DNA to AA Translation</td>
  <td><!-- TMPL_IF NAME=translate -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
</table>

<h5 class="section_label">Motifs Details</h5>
<table class="info">
  <!-- TMPL_IF NAME=motifs_safe_name -->
  <tr><td class="table_label">Command-line Safe Name</td>
  <td><!-- TMPL_VAR NAME=motifs_name --></td></tr>
  <!-- /TMPL_IF -->
  <tr><td class="table_label">Type of Motifs</td>
  <td><!-- TMPL_VAR NAME=motifs_alpha --></td></tr>
  <tr><td class="table_label">Count of Motifs</td>
  <td><!-- TMPL_VAR NAME=motifs_count --></td></tr>
  <tr><td class="table_label">Summed Motifs Lengths</td>
  <td><!-- TMPL_VAR NAME=motifs_cols --></td></tr>
</table>

<!-- TMPL_IF NAME=seqs_name -->
<h5 class="section_label">Uploaded Sequences Details</h5>
<table class="info">
  <!-- TMPL_IF NAME=seqs_safe_name -->
  <tr><td class="table_label">Command-line Safe Name</td>
  <td><!-- TMPL_VAR NAME=seqs_name --></td></tr>
  <!-- /TMPL_IF -->
  <tr><td class="table_label">Type of Sequences</td>
  <td><!-- TMPL_VAR NAME=seqs_alpha --></td></tr>
  <tr><td class="table_label">Count of Sequences</td>
  <td><!-- TMPL_VAR NAME=seqs_count --></td></tr>
  <tr><td class="table_label">Shortest Sequence (residues)</td>
  <td><!-- TMPL_VAR NAME=seqs_min --></td></tr>
  <tr><td class="table_label">Longest Sequence (residues)</td>
  <td><!-- TMPL_VAR NAME=seqs_max --></td></tr>
  <tr><td class="table_label">Average Length (residues)</td>
  <td><!-- TMPL_VAR NAME=seqs_avg --></td></tr>
  <tr><td class="table_label">Total Length (residues)</td>
  <td><!-- TMPL_VAR NAME=seqs_total --></td></tr>
</table>
<!-- /TMPL_IF -->

