<!DOCTYPE html>
<html>
<head><title><!-- TMPL_VAR NAME=program --> Job<!-- TMPL_IF NAME=status --> - <!-- TMPL_VAR NAME=status --><!-- /TMPL_IF --></title>
<meta http-equiv="expires" content="Sun 1 Jan 1997 00:00:00 GMT">
<style>
  body {
    margin: 0;
  }
  .head_fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    background: white;
  }
  .head_hidden {
    visibility: hidden;
  }  
</style>
</head>
<body>
<div class="head_fixed">
<!-- TMPL_IF NAME=files -->
<h3>Results</h3>
<ul>
<!-- TMPL_LOOP NAME=files -->
  <li><a href="<!-- TMPL_VAR NAME=file -->" target="_top"><!-- TMPL_VAR NAME=desc --></a></li>
<!-- /TMPL_LOOP -->
</ul>
<!-- /TMPL_IF -->
<h3>Status Messages</h3>
</div>
<div class="head_hidden">
<!-- TMPL_IF NAME=files -->
<h3>Results</h3>
<ul>
<!-- TMPL_LOOP NAME=files -->
  <li><a href="<!-- TMPL_VAR NAME=file -->" target="_top"><!-- TMPL_VAR NAME=desc --></a></li>
<!-- /TMPL_LOOP -->
</ul>
<!-- /TMPL_IF -->
<h3>Status Messages</h3>
</div>
<!-- TMPL_IF NAME=msgs -->
<ul>
<!-- TMPL_LOOP NAME=msgs -->
  <li><!-- TMPL_VAR NAME=msg --></li>
<!-- /TMPL_LOOP -->
</ul>
<!-- /TMPL_IF -->
</body>
</html>

