<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>MEME Suite</display-name>

  <listener>
    <listener-class>au.edu.uq.imb.memesuite.servlet.ConfigurationLoader</listener-class>
  </listener>

  <servlet>
    <servlet-name>MemeRequest</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.MemeRequest</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TomtomRequest</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.TomtomRequest</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Glam2Request</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Glam2Request</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoRequest</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.LogoRequest</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EchoFile</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.EchoFile</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SubmitMemeJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Meme</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitMastJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Mast</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitTomtomJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Tomtom</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitGomoJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Gomo</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitGlam2Job</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Glam2</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitGlam2scanJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Glam2scan</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitFimoJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Fimo</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitMcastJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Mcast</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitMemechipJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Memechip</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitSpamoJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Spamo</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitDremeJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Dreme</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitCentrimoJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Centrimo</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>SubmitAmeJob</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.Ame</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>83886080</max-file-size> <!-- 80MB -->
      <max-request-size>104857600</max-request-size> <!-- 100MB -->
      <file-size-threshold>5120</file-size-threshold> <!-- 5KB buffer -->
    </multipart-config>
  </servlet>

  <servlet>
    <servlet-name>JobStatus</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.JobStatus</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowSequenceDbs</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.ShowSequenceDBs
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowMotifDbs</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.ShowMotifDBs</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShowGomoDbs</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.ShowGomoDBs</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RedirectMemeDownload</servlet-name>
    <servlet-class>au.edu.uq.imb.memesuite.servlet.PermanentRedirect</servlet-class>
    <init-param>
      <param-name>RedirectURL</param-name>
      <param-value>/doc/download.html</param-value>
    </init-param>
  </servlet>

  <!-- Note: All <servlet> elements MUST be grouped together and
        placed IN FRONT of the <servlet-mapping> elements -->

  <!-- pretend to be a CGI script to maintain backwards compatibility -->
  <servlet-mapping>
    <servlet-name>MemeRequest</servlet-name>
    <url-pattern>/cgi-bin/meme_request.cgi</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TomtomRequest</servlet-name>
    <url-pattern>/cgi-bin/tomtom_request.cgi</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Glam2Request</servlet-name>
    <url-pattern>/cgi-bin/process_request.cgi</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EchoFile</servlet-name>
    <url-pattern>/cgi-bin/echo.cgi</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EchoFile</servlet-name>
    <url-pattern>/utilities/save_generated_file</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoRequest</servlet-name>
    <url-pattern>/utilities/generate_logo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitMemeJob</servlet-name>
    <url-pattern>/tools/meme</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitMastJob</servlet-name>
    <url-pattern>/tools/mast</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitTomtomJob</servlet-name>
    <url-pattern>/tools/tomtom</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitGomoJob</servlet-name>
    <url-pattern>/tools/gomo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitGlam2Job</servlet-name>
    <url-pattern>/tools/glam2</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitGlam2scanJob</servlet-name>
    <url-pattern>/tools/glam2scan</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitFimoJob</servlet-name>
    <url-pattern>/tools/fimo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitMcastJob</servlet-name>
    <url-pattern>/tools/mcast</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitMemechipJob</servlet-name>
    <url-pattern>/tools/meme-chip</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitSpamoJob</servlet-name>
    <url-pattern>/tools/spamo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitDremeJob</servlet-name>
    <url-pattern>/tools/dreme</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitCentrimoJob</servlet-name>
    <url-pattern>/tools/centrimo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitAmeJob</servlet-name>
    <url-pattern>/tools/ame</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JobStatus</servlet-name>
    <url-pattern>/info/status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowSequenceDbs</servlet-name>
    <url-pattern>/db/sequences</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowMotifDbs</servlet-name>
    <url-pattern>/db/motifs</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowGomoDbs</servlet-name>
    <url-pattern>/db/gomo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RedirectMemeDownload</servlet-name>
    <url-pattern>/meme-download.html</url-pattern>
  </servlet-mapping>
</web-app>
