<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>AME - Submission form</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/fasta-debug.css" rel="stylesheet" type="text/css" />
    <link href="../css/component_motifs.css" rel="stylesheet" type="text/css">
    <link href="../css/component_sequences.css" rel="stylesheet" type="text/css">
    <link href="../css/component_bfile.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/fasta-debug.js"></script>
    <!-- wicked-good-xpath library: http://code.google.com/p/wicked-good-xpath/ -->
    <script src="../js/wgxpath.install.js"></script>
    <script src="../js/motif_parser.js"></script>
    <script src="../js/component_motifs.js"></script>
    <script src="../js/component_sequences.js"></script>
    <script src="../js/bg_parser.js"></script>
    <script src="../js/component_bfile.js"></script>
    <script src="../js/ame.js"></script>
  </head>
  <body>
    <div class="pop_content" id="pop_generate">
      <p>Choose whether the control sequences are provided by you or 
        created by AME by shuffling the input sequences.  Shuffling is
        done preserving the dinucleotide frequencies of the sequences.</p>
      <p>The sequences may be of varying lengths.  The control sequences
        may be of different lengths than the input sequences.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_method">
      <p>
        Select the association function for testing motif enrichment significance.
      </p>
      <ul>
        <li>Ranksum test - one-tailed Wilcoxon rank-sum test, also known as the Mann-Whitney U test</li>
        <li>Fisher's exact test - one-tailed Fisher's exact test</li>
      </ul>
      <p>
        All statistical tests use the alternative hypothesis that high motif scores are 
        enriched in the primary sequences relative to the control sequences.
      </p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_scoring">
      <p>
        Choose how a single sequence is scored for matches to a single motif. 
        The score assigned to a sequence is either:
      </p>
      <ul>
        <li>Average odds score - the average motif score of the sequence 
          (note: motif scores are odds scores, not log-odds scores as in some other MEME Suite tools)
          in the sequence
        <li>Maximum odds score - the maximum motif score of the sequence
        <li>Total odds score - the sum of the motif scores of the sequence
        <li>Total matches - the total number of positions in the sequence 
          whose motif score <i>p</i>-value is less (more significant) 
          than the motif match threshold. 
      </ul>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_pwm_threshold">
      <p>For the <code>Fisher's exact test</code> enrichment method only. 
        This is the minimum motif-based sequence score for a sequence to be a 'true positive'.
      </p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_pvalue_threshold">
      <p>Threshold for considering a single motif match significant. This is only used with 
        the <code>Total matches</code> motif scoring method.
      </p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_pvalue_report_threshold">
      <p>Threshold for reporting enriched motifs. Only motifs
        with adjusted enrichment <i>p</i>-values no greater than this number
        will be reported in AME's output.   The <i>p</i>-values are
        adjusted for the number of tests, which is equal
        to the number motifs in the input.
        <br>Reduce the threshold value if you want AME to report fewer,
        more significantly enriched motifs.
        Set the threshold value to 1 if you want AME to report the
        adjusted enrichment <i>p</i>-values of all input motifs.
      </p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_background">
      <p>By default AME will use the background Markov model contained
      in the motif file.  You man also choose to use a uniform background model.
      Alternately you may select "Upload background" and input a file containing
      a <a href="../doc/bfile-format.html">background model</a>.</p>
      <p>The downloadable version of the MEME Suite contains a program named
      "fasta-get-markov" that you can use to create background model files in
      the correct format from FASTA sequence files.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <!--{help/}-->
    <div class="content_box">
      <!--{header}-->
      <p>
      <!--{title}-->AME<!--{/title}--> - <!--{subtitle}-->Analysis of Motif Enrichment<!--{/subtitle}--><br>
      <!--{logo}-->../doc/images/ame_icon.png<!--{/logo}-->: <!--{alt}-->AME Logo<!--{/alt}--><br>
      <!--{blurb}--><span class="blurb" data-id="ame"></span><!--{/blurb}-->
      </p>
      <!--{/header}-->
      <form enctype="multipart/form-data" accept-charset="utf-8"
      method="POST" action="ame" id="ame_form">
        <fieldset>
          <legend>Data Submission Form</legend>
          <p class="meme">Perform standard (non-local) motif enrichment analysis.</p>

          <!-- mode -->
          <h2 class="meme">Select the type of control sequences to use</h2>
          <div class="subcontent">
            <input type="radio" name="generate" id="generate_on" value="1" checked>
            <label for="generate_on">Shuffled input sequences</label>
            <input type="radio" name="generate" id="generate_off" value="0">
            <label for="generate_off">User-provided control sequences</label>
            <div class="help" data-topic="pop_generate"></div>
          </div>
          <!-- /mode -->

          <!--{sequences}-->
          <!--{prefix}-->sequences<!--{/prefix}-->
          <!--{description}-->sequences<!--{/description}-->
          <!--{title}-->Input the primary sequences<!--{/title}-->
          <!--{subtitle}-->Enter the nucleotide sequences in which you want to find enriched motifs.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->FILE<!--{/default}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/sequences}-->

          <div id="control" style="display:none">
          <!--{control}-->
          <!--{prefix}-->control_sequences<!--{/prefix}-->
          <!--{description}-->control sequences<!--{/description}-->
          <!--{title}-->Input the control sequences<!--{/title}-->
          <!--{subtitle}-->Enter the nucleotide control sequences.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->FILE<!--{/default}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/control}-->
          </div>

          <!--{motifs}-->
          <!--{prefix}-->motifs<!--{/prefix}-->
          <!--{description}-->motifs<!--{/description}-->
          <!--{title}-->Input the motifs<!--{/title}-->
          <!--{subtitle}-->Select, upload or enter the motifs you wish to test for enrichment.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->DATABASE<!--{/default}-->
          <!--{enable_db/}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/motifs}-->

          <!--{job_details/}-->

          <!-- Advanced Options -->
          <div style="margin-top:5px; margin-bottom: 5px; width:80%;">
          <!--{advanced_options/}-->
          <div>

            <!-- scoring -->
            <h3 class="meme">Select the sequence scoring method</h3>
              <select class="meme" name="scoring" id="scoring">
                <option value="avg" selected>Average odds score</option>
                <option value="max">Maximum odds score</option>
                <option value="sum">Total odds score</option>
                <option value="totalhits">Total matches</option>
              </select>
              <div class="help" data-topic="pop_scoring"></div>
            <!-- /scoring  -->

            <!-- pvalue_threshold -->
            <div id="hits_area" style="display:none">
              <h3 class="meme">Choose the motif match threshold</h3>
              <label for="pvalue_threshold"><i>p</i>-value &le;</label>
              <input class="meme numonly sz5" type="text" id="pvalue_threshold"
                 name="pvalue_threshold" size="5" value="0.0002" min="0" max="1" step="any">
              <div class="help" data-topic="pop_pvalue_threshold"></div>
            </div>
            <!-- /pvalue_threshold-->

            <!-- method -->
            <h3 class="meme">Select the motif enrichment test</h3>
            <select class="meme" name="method" id="method">
              <option value="ranksum" selected>Ranksum test</option>
              <option value="fisher">Fisher's exact test</option>
            </select>
            <div class="help" data-topic="pop_method"></div>
            <!-- /method -->

            <!-- pwm_threshold -->
            <div id="fisher_pwm_area" style="display:none">
              <h3 class="meme">Choose the Fisher's exact test sequence score threshold</h3>
              <label for="pwm_threshold">sequence score &ge;</label>
              <input class="meme numonly sz5" type="text" id="pwm_threshold"
                 name="pwm_threshold" size="5" value="1" step="any">
              <div class="help" data-topic="pop_pwm_threshold"></div>
            </div>
            <!-- /pwm_threshold-->

            <!-- reporting threshold-->
            <h3 class="meme">Set the <i>p</i>-value threshold for reporting enriched motifs</h3>
            <label for="pvalue_report_threshold">adjusted <i>p</i>-value &le;</label>
            <input class="meme numonly sz5" type="text" id="pvalue_report_threshold"
                name="pvalue_report_threshold" size="5" value="0.05" min="0" max="1" step="any">
            <div class="help" data-topic="pop_pvalue_report_threshold"></div>
            <!-- /reporting threshold-->

            <!--{bfile}-->
              <!--{prefix}-->background<!--{/prefix}-->
              <!--{alphabets}-->DNA<!--{/alphabets}-->
              <!--{enable_uniform/}-->
              <!--{enable_meme/}-->
              <!--{enable_upload/}-->
              <!--{selected}-->meme<!--{/selected}-->
              <!--{register}-->register_component<!--{/register}-->
            <!--{/bfile}-->
          </div>

          <!--{submit_reset/}-->
        </fieldset>
      </form>
      <!--{footer/}-->
    </div>
  </body>
</html>

