<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>CentriMo verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "sequences"
    },
    {
      "type": "sequences",
      "name": "Comparative Sequences",
      "key": "comparative"
    },
    {
      "type": "motifs",
      "name": "Motifs",
      "key": "motifs"
    }, 
    {
      "type": "background",
      "name": "Background",
      "key": "background"
    },
    {
      "type": "choice",
      "name": "Strand treatment",
      "key": "strands",
      "options": {
        "both": "Normal - motif sites on either strand will be considered.",
        "given": "No RC - motif sites will only be considered if they are on the given strand.",
        "both_separately": "Separately - motif sites found on the reverse strand are treated separately.",
        "both_flip": "Reflected - motif sites found on the reverse strand will have their position mirrored around the center of the sequence."
      }
    },
    {
      "type": "number",
      "name": "Match Score",
      "key": "minScore",
      "any": "Motif sites will only be considered if they have a match score \u2265 !!VALUE!!."
    },
    {
      "type": "flag",
      "name": "Optimize Score",
      "key": "optScore",
      "on": "All distinct scores for matches that did better than the minimum score will be tested as alternative minimum score thresholds."
    },
    {
      "type": "number",
      "name": "Region Width",
      "key": "maxRegion",
      "any": "Regions are only considered if they are \u2264 !!VALUE!! in width."
    },
    {
      "type": "number",
      "name": "Region <i>E</i>-value",
      "key": "evalueThreshold",
      "any": "Regions are only reported if they have a <i>E</i>-value &le; !!VALUE!!."
    },
    {
      "type": "flag",
      "name": "Store IDs",
      "key": "storeIds",
      "on": "The sequence identifiers and their mapping to the best region of all significant motifs will be stored."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of CentriMo.",
  "inputs": {
    "local": false,
    "compare": false,
    "sequences": {
      "source": "file",
      "safe-file": "a_file.fa",
      "orig-file": "a file.fa",
      "alphabet": "DNA",
      "count": 18,
      "min": 105,
      "max": 105,
      "avg": 105.0,
      "total": 1890
    },
    "motifs": {
      "source": "db",
      "db_name": "Human and Mouse (Jolma2013)",
      "db_description": "Human and Mouse high-throughput SELEX motifs from <a href=\"http://dx.doi.org/10.1016/j.cell.2012.12.009\"> Cell 2013. 152(1-2):327-339</a>.",
      "alphabet": "DNA",
      "count": 738,
      "min": 7,
      "max": 23,
      "avg": 12.423,
      "total": 9168
    },
    "strands": "both",
    "minScore": 5.0,
    "optScore": false,
    "maxRegion": 200,
    "evalueThreshold": 10.0,
    "storeIds": true,
    "background": {
      "source": "FILE",
      "file": {
        "safe-file": "a_file.fa.bg",
        "orig-file": "a file.fa.bg"
      }
    }
  }
};
</script>
</head>
<body>
<!--{title}-->CentriMo<!--{/title}--> - <!--{subtitle}-->Local Motif Enrichment Analysis<!--{/subtitle}--><br>
<!--{logo}-->doc/images/centrimo_icon.png<!--{/logo}-->: <!--{alt}-->CentriMo Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>

