<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Footer Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!--{help}-->
    <!--{/help}-->
    <div style="margin-left: 50px; width: 654px;">
    <!--{component}-->
      <div class="top_footer">
        <div class="left_footer">Version <!--{version}-->4.10.0<!--{/version}--></div>
        <div class="right_footer">Powered by <a href="http://opal.nbcr.net/">Opal</a></div>
        <div class="middle_footer">Please send comments and questions to: 
          <a href="mailto:${help_email}"><!--{help_email_enc}-->meme@sdsc.edu<!--{/help_email_enc}--></a></div>
      </div>
      <hr>
      <div class="bottom_footer">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../doc/overview.html">Documentation</a></li>
          <li><a href="../doc/download.html">Downloads</a></li>
          <li><a href="../doc/authors.html">Authors</a></li>
          <li><a href="../doc/cite.html">Citing</a></li>
        </ul>
      </div>
    <!--{/component}-->
    </div>
  </body>
</html>

