<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit/Reset Button Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
    <style>
      div.test_box {
        margin-left: 50px;
        width: 60%;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <!--{help}-->
    <!--{/help}-->
    <div class="test_box">
    <!--{component}-->
          <!-- Search and clear buttons -->
          <div class="submit_buttons">
            <input type="submit" name="search" value="${submit_title}">
            &nbsp;&nbsp;&nbsp;
            <input type="reset" value="${reset_title}" >
          </div>
    <!--{/component}-->
    </div>
  </body>
</html>

