<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Queue Input Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
  </head>
  <body>
    <!--{help}-->
    <div class="pop_content" style="display:none" id="pop_email">
      <p>Enter the email address where you want the job notification email to
      be sent. Please check that this is a valid email address!</p>
      <p>The notification email will include a link to your job results.</p>
      <p><b>Note:</b> Most MEME Suite servers only store results for a couple of days.
      So be sure to download any results you wish to keep.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_job_description">
      <p>Enter text naming or describing this analysis. The job description will be included in the notification email you 
      receive and in the job output.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{/help}-->
    <!--{component}-->
          <!-- job queue -->
          <h2 class="meme">Input job details</h2>
          <div class="subcontent">
            <!-- email -->
            <div id="email_section" style="margin-bottom:10px;">
            <h4 class="meme">Enter your email address.
              <div class="help" data-topic="pop_email"></div></h4>
            <input type="email" name="email" id="email" size="40"
                class="meme"/>
            </div>
            <!-- /email -->
            <!-- description -->
            <h4 class="meme">(Optional) Enter a job description.
              <div class="help" data-topic="pop_job_description"></div></h4>
            <textarea name="description" cols="60" rows="2" class="meme"></textarea>
            <!-- /description -->
          </div>
          <!-- /job queue -->
    <!--{/component}-->
  </body>
</html>
