<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sequence Input Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/component_sequences.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/fasta-debug.js"></script>
    <script src="../js/component_sequences.js"></script>
    <script>
      var XXXXoptionsXXXX = {
        "file_max": (1<<20) * 20, // 20 MB
        "alphabets": {
          "DNA": false,
          "PROTEIN": true
        },
        "weights": true,
        "mask": true,
        "ambigs": true,
        "gaps": false,
        "uppercase": false,
        "max_name_len": 50,
        "max_desc_len": 500,
        "min_seq_len": 8,
        "max_seq_len": null,
        "max_seq_count": 1000,
        "max_seq_total": 60000 
      };
      function XXXXregister_componentXXXX(id, element, controler) {

      }
    </script>
  </head>
  <body>
    <div class="pop_content" id="pop_${prefix}">
      <p>Information about the sequences field would be displayed here.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{help}-->
    <div class="pop_content" id="pop_input_sequences">
      <b>Click on the menu at the left to see which of the following sequence input methods are available.</b>
      <dl>
        <dt><b>Type in sequences</b></dt>
        <dd>When this option is available you may directly input multiple
        sequences by typing them. Sequences must be input in
        <a href="../doc/fasta-format.html">FASTA format</a>.</dd>
        <dt><b>Upload sequences</b></dt>
        <dd>When this option is available you may upload a file containing
        sequences in <a href="../doc/fasta-format.html">FASTA format</a>.</dd>
        <dt><b>Databases (select category)</b></dt>
        <dd>When this option is available you may first select a category of 
        sequence database from the list below it. Two additional menus will then appear 
        where you can select the particular database and version desired, respectively.
        The full list of available sequence databases and their descriptions 
        can be viewed <a href="../db/sequences">here</a>.</dd>
        <dt><b>Submitted sequences</b></dt>
        <dd>This option is only available when you have invoked the current
        program by clicking on a button in the output report of a different MEME Suite program.
        By selecting this option you will input the sequences sent by that program.</dd>
      </dl>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_sequence_databases">
      <p>Select an available sequence database from this menu.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_sequence_database_versions">
      <p>Select an available version of the sequence database from this menu.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{/help}-->
    <!--{component}-->
          <h2 class="meme"><!--{title}-->Input the sequences<!--{/title}--></h2>
          <div class="subcontent">
            <h4 class="meme"><!--{subtitle}-->Enter sequences you want to scan for matches to motifs.<!--{/subtitle}-->
            <div class="help" data-topic="pop_${prefix}"></div></h4>
            <div class="sequence_input" id="${prefix}">
              <select class="sequence_source meme" name="${prefix}_source">
                <optgroup label="User supplied">
                  <!--{text_option}-->
                  <option value="text" XXXXselectedXXXX>Type in sequences</option>
                  <!--{/text_option}-->
                  <!--{file_option}-->
                  <option value="file" XXXXselectedXXXX>Upload sequences</option>
                  <!--{/file_option}-->
                  <!--{embed_option}-->
                  <option value="embed" XXXXselectedXXXX>Submitted sequences</option>
                  <!--{/embed_option}-->
                </optgroup>
                <!--{cat_options}-->
                <optgroup label="Databases (select category)">
                  <!--{cat_option}-->
                  <option value="${id}" XXXXselectedXXXX>${name}</option>
                  <!--{/cat_option}-->
                </optgroup>
                <!--{/cat_options}-->
              </select>
              <span class="sequence_file fasta_debug">
                <span class="background"></span>
                <span class="indicator"></span>
                <input type="file" class="meme" name="${prefix}_file"/>
                <div class="popup"></div>
              </span>
              <div class="dna alphainc">DNA</div> <div class="protein alphainc">Protein</div>
              <div class="help" data-topic="pop_input_sequences"></div>
              <br>
              <div class="sequence_text fasta_debug">
                <span class="background"></span>
                <span class="indicator"></span>
                <div class="editor">
                  <div>
                    <pre><span></span><br></pre>
                    <textarea name="${prefix}_text" spellcheck="false"></textarea>
                  </div>
                </div>
                <div class="popup"></div>
              </div>
              <!--{db_section}-->
              <select class="sequence_db listing meme" name="${prefix}_db_listing" disabled>
                <optgroup label="Databases">
                <option value="">...</option>
                </optgroup>
              </select>
              <div class="help sequence_db" data-topic="pop_sequence_databases"></div>
              <br>
              <select class="sequence_db version meme" name="${prefix}_db_version" disabled>
                <optgroup label="Versions">
                  <option value="">...</option>
                </optgroup>
              </select>
              <div class="help sequence_db" data-topic="pop_sequence_database_versions"></div>
              <br>
             
              <!--{/db_section}-->
              <!--{embed_section}-->
              <span class="sequence_embed">
                <input type="hidden" class="name" name="${prefix}_name" value="${name}">
                <input type="hidden" class="data" name="${prefix}_embed" value="${data}">
              </span>
              <!--{/embed_section}-->
              <script>
                (function() {
                  "use strict";
                  var options = XXXXoptionsXXXX;
                  var element = document.getElementById("${prefix}");
                  var controler = new SequenceInput(element, options);
                  XXXXregister_componentXXXX("${prefix}", element, controler);
                })();
              </script>
            </div>
          </div>
    <!--{/component}-->
  </body>
</html>

