<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GLAM2 Motifs Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/component_glam2motifs.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/component_glam2motifs.js"></script>
    <script>
      var XXXXoptionsXXXX = {
        "alphabets": {
          "DNA": true,
          "PROTEIN": true
        }
      };
      function XXXXregister_componentXXXX(id, element, controler) {

      }
    </script>
  </head>
  <body>
    <div class="pop_content" id="pop_${prefix}">
      <p>Information about the motif field would be displayed here.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{help}-->
    <!--{/help}-->
    <!--{component}-->
          <!-- ${prefix} -->
          <h2 class="meme"><!--{title}-->Input the GLAM2 motifs<!--{/title}--></h2>
          <div class="subcontent">
            <h4 class="meme"><!--{subtitle}-->Enter GLAM2 motifs you wish to find<!--{/subtitle}-->
            <div class="help" data-topic="pop_${prefix}"></div></h4>
            <div class="motif_input file" id="${prefix}">
              <select class="motif_source meme" name="${prefix}_source">
                <optgroup label="User supplied">
                  <!--{file_option}-->
                  <option value="file" ${selected}>Upload motifs</option>
                  <!--{/file_option}-->
                  <!--{embed_option}-->
                  <option value="embed" ${selected}>Submitted motifs</option>
                  <!--{/embed_option}-->
                </optgroup>
              </select>
              <span class="motif_file">
                <input class="meme" type="file" name="${prefix}_file">
              </span>
              <!--{embed_section}-->
              <div class="motif_embed">
                <input type="hidden" class="name" name="${prefix}_name" value="${name}">
                <input type="hidden" class="data" name="${prefix}_embed" value="${data}">
              </div>
              <!--{/embed_section}-->
              <script>
                (function() {
                  "use strict";
                  var options = XXXXoptionsXXXX;
                  var element = document.getElementById("${prefix}");
                  var controler = new Glam2Input(element, options);
                  XXXXregister_componentXXXX("${prefix}", element, controler);
                })();
              </script>
            </div>
          </div>
          <!-- /${prefix} -->
    <!--{/component}-->
  </body>
</html>

