<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>DREME verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "posSeq"
    },
    {
      "type": "sequences",
      "name": "Control Sequences",
      "key": "negSeq"
    },
    {
      "type": "number",
      "name": "<i>E</i>-value threshold",
      "key": "ethresh",
      "any": "Searching for motifs with an <i>E</i>-value &lt; !!VALUE!!."
    },
    {
      "type": "count",
      "name": "Motif Count",
      "key": "nMotifs",
      "one": "Searching for one motif.",
      "any": "Searching for !!VALUE!! motifs."
    },
    {
      "type": "flag",
      "name": "No RC",
      "key": "norc",
      "on": "Motif sites will only be considered if they are on the given strand."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of DREME",
  "inputs": {
    "posSeq": {
      "source": "file",
      "safe-file": "sample-dna-Klf1.fa",
      "orig-file": "sample-dna-Klf1.fa",
      "alphabet": "DNA",
      "count": 904,
      "min": 500,
      "max": 500,
      "avg": 500.0,
      "total": 452000
    },
    "ethresh": 0.05,
    "nMotifs": 10,
    "norc": false
  }
};
</script>
</head>
<body>
<!--{title}-->DREME<!--{/title}--> - <!--{subtitle}-->Discriminative Regular Expression Motif Elicitation<!--{/subtitle}--><br>
<!--{logo}-->doc/images/dreme_icon.png<!--{/logo}-->: <!--{alt}-->DREME Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>

