<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>FIMO verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "motifs",
      "name": "Motifs",
      "key": "motifs"
    }, 
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "sequences"
    },
    {
      "type": "number",
      "name": "Threshold",
      "key": "pthresh",
      "any": "Include motif sites in the output with a <i>p</i>-value &le; !!VALUE!!."
    },
    {
      "type": "flag",
      "name": "No RC",
      "key": "norc",
      "on": "Motif sites will only be found on the given strand."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of FIMO",
  "inputs": {
    "motifs": {
      "source": "db",
      "db_name": "Human and Mouse (Jolma2013)",
      "db_description": "Human and Mouse high-throughput SELEX motifs from <a href=\"http://dx.doi.org/10.1016/j.cell.2012.12.009\"> Cell 2013. 152(1-2):327-339</a>.",
      "alphabet": "DNA",
      "count": 738,
      "min": 7,
      "max": 23,
      "avg": 12.423,
      "total": 9168
    },
    "sequences": {
      "source": "file",
      "safe-file": "a_file.fa",
      "orig-file": "a file.fa",
      "alphabet": "DNA",
      "count": 18,
      "min": 105,
      "max": 105,
      "avg": 105.0,
      "total": 1890
    },
    "pthresh": 1e-4,
    "norc": true
  }
};
</script>
</head>
<body>
<!--{title}-->FIMO<!--{/title}--> - <!--{subtitle}-->Find Individual Motif Occurences<!--{/subtitle}--><br>
<!--{logo}-->doc/images/fimo_icon.png<!--{/logo}-->: <!--{alt}-->FIMO Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>


