<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>FIMO - Submission form</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/fasta-debug.css" rel="stylesheet" type="text/css" />
    <link href="../css/component_motifs.css" rel="stylesheet" type="text/css">
    <link href="../css/component_sequences.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/fasta-debug.js"></script>
    <!-- wicked-good-xpath library: http://code.google.com/p/wicked-good-xpath/ -->
    <script src="../js/wgxpath.install.js"></script>
    <script src="../js/motif_parser.js"></script>
    <script src="../js/component_motifs.js"></script>
    <script src="../js/component_sequences.js"></script>
    <script src="../js/fimo.js"></script>
  </head>
  <body>
    <!--{help/}-->
    <div class="pop_content" id="pop_output_pv">
      <p>This value sets the <i>p</i>-value threshold for displaying search
      results. If the <i>p</i>-value of a match is greater than this value,
      then the match will not be included in the output. The internally used
      threshold may be further lowered if there are too many matches to fit
      in memory.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_norc">
      <p>When using the RNA sequences you should select this option to ensure
      that only the given strand is scanned for motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="content_box">
      <!--{header}-->
      <p>
      <!--{title}-->FIMO<!--{/title}--> - <!--{subtitle}-->Find Individual Motif Occurences<!--{/subtitle}--><br>
      <!--{logo}-->../doc/images/fimo_icon.png<!--{/logo}-->: <!--{alt}-->FIMO Logo<!--{/alt}--><br>
      <!--{blurb}--><span class="blurb" data-id="fimo"></span><!--{/blurb}-->
      </p>
      <!--{/header}-->
      <form enctype="multipart/form-data" accept-charset="utf-8"
      method="POST" action="fimo" id="fimo_form">
        <fieldset>
          <legend>Data Submission Form</legend>
          <p class="meme">Scan a set of sequences for motifs.</p> 
          
          <!--{motifs}-->
          <!--{prefix}-->motifs<!--{/prefix}-->
          <!--{title}-->Input the motifs<!--{/title}-->
          <!--{default}-->FILE<!--{/default}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/motifs}-->

          <!--{sequences}-->
          <!--{prefix}-->sequences<!--{/prefix}-->
          <!--{title}-->Input the sequences<!--{/title}-->
          <!--{default}-->DATABASE<!--{/default}-->
          <!--{enable_db/}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/sequences}-->
          
          <!--{job_details/}-->
          <div style="margin-top: 5px; margin-bottom: 5px; width: 80%">
            <!--{advanced_options/}-->
            <div>
              <!-- output evalue -->
              <h3 class="meme">How should matches be filtered before output?</h3>
              <label for="output_pv">Match <i>p</i>-value &lt;</label>
              <select class="meme" name="output_pv" id="output_pv">
                <option value="1">1</option>
                <option value="0.1">0.1</option>
                <option value="0.01">0.01</option>
                <option value="0.001">0.001</option>
                <option value="1E-4" selected>1E-4</option>
                <option value="1E-5">1E-5</option>
                <option value="1E-6">1E-6</option>
                <option value="1E-7">1E-7</option>
                <option value="1E-8">1E-8</option>
                <option value="1E-9">1E-9</option>
              </select>
              <div class="help" data-topic="pop_output_pv"></div>
              <!-- /output evalue -->
              <!-- norc -->
              <h3 class="meme top">Scan both strands? (DNA/RNA only)</h3>
              <input class="meme" type="checkbox" id="norc" name="norc" value="1">
              <label for="norc">scan given strand only</label>
              <div class="help" data-topic="pop_norc"></div>
              <!-- /norc -->
            </div>
          </div>
          <!--{submit_reset/}-->
        </fieldset>
      </form>
      <!--{footer/}-->
    </div>
  </body>
</html>

