<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>MAST verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "motifs",
      "name": "Motifs",
      "key": "motifs"
    },
    {
      "type": "number",
      "name": "Motif filter threshold",
      "key": "motifEvalue",
      "any": "Only scan with motifs that list an <i>E</i>-value &le; !!VALUE!!."
    }, 
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "sequences"
    },
    {
      "type": "flag",
      "name": "Translate DNA",
      "key": "translateDNA",
      "on": "The DNA sequences will be translated to protein to enable scanning with protein motifs."
    },
    {
      "type": "choice",
      "name": "RC strand handling",
      "key": "strands",
      "options": {
        "combine": "Combined with the given strand.",
        "separate": "Treated as a separate sequence.",
        "ignore": "Not scanned."
      }
    },
    {
      "type": "number",
      "name": "Sequence threshold",
      "key": "seqEvalue",
      "any": "Report sequences with <i>E</i>-value &le; !!VALUE!!."
    },
    {
      "type": "flag",
      "name": "Per-sequence composition",
      "key": "useSeqComp",
      "on": "The background model will be recomputed on a per-sequence basis rather than being based on the composition of the entire dataset."
    },
    {
      "type": "flag",
      "name": "Scaling motif display",
      "key": "scaleM",
      "on": "The threshold used to display motif matches will be scaled on the sequence length."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of MAST",
  "inputs": {
    "motifs": {
      "source": "file",
      "safe-file": "meme.html",
      "orig-file": "meme.html",
      "alphabet": "DNA",
      "count": 2,
      "min": 14,
      "max": 18,
      "avg": 16.0,
      "total": 32
    },
    "sequences": {
      "source": "file",
      "safe-file": "a_file.fa",
      "orig-file": "a file.fa",
      "alphabet": "DNA",
      "count": 18,
      "min": 105,
      "max": 105,
      "avg": 105.0,
      "total": 1890
    }
  }
};
</script>
</head>
<body>
<!--{title}-->MAST<!--{/title}--> - <!--{subtitle}-->Motif Alignment &amp; Search Tool<!--{/subtitle}--><br>
<!--{logo}-->doc/images/mast_icon.png<!--{/logo}-->: <!--{alt}-->MAST Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>


