<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>MCAST verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "motifs",
      "name": "Motifs",
      "key": "motifs"
    }, 
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "sequences"
    },
    {
      "type": "number",
      "name": "Motif pseudocount",
      "key": "pseudocount",
      "any": "A pseudocount of !!VALUE!! will be added to motifs."
    },
    {
      "type": "number",
      "name": "Motif hit threshold",
      "key": "motifPv",
      "any": "Hit <i>p</i>-value &lt; !!VALUE!!."
    },
    {
      "type": "count",
      "name": "Adjacent motif spacing",
      "key": "maxGap",
      "any": "Adjacent motifs must be spaced &le; !!VALUE!!."
    },
    {
      "type": "number",
      "name": "Match threshold",
      "key": "outputEv",
      "any": "Match <i>E</i>-value &lt; !!VALUE!!."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of MCAST",
  "inputs": {
    "motifs": {
      "source": "file",
      "safe-file": "meme.html",
      "orig-file": "meme.html",
      "alphabet": "DNA",
      "count": 2,
      "min": 14,
      "max": 18,
      "avg": 16.0,
      "total": 32
    },
    "sequences": {
      "source": "file",
      "safe-file": "a_file.fa",
      "orig-file": "a file.fa",
      "alphabet": "DNA",
      "count": 18,
      "min": 105,
      "max": 105,
      "avg": 105.0,
      "total": 1890
    },
    "motifPvThresh": 0.0005,
    "maxGap": 50,
    "outputEvThresh": 10,
    "pseudocountWeight": 4
  }
};
</script>
</head>
<body>
<!--{title}-->MCAST<!--{/title}--> - <!--{subtitle}-->Motif Cluster Alignment and Search Tool<!--{/subtitle}--><br>
<!--{logo}-->doc/images/mcast_icon.png<!--{/logo}-->: <!--{alt}-->MCAST Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>

