<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MEME-ChIP - Submission form</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/component_motifs.css" rel="stylesheet" type="text/css">
    <link href="../css/component_sequences.css" rel="stylesheet" type="text/css">
    <link href="../css/component_bfile.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/fasta-debug.js"></script>
    <!-- wicked-good-xpath library: http://code.google.com/p/wicked-good-xpath/ -->
    <script src="../js/wgxpath.install.js"></script>
    <script src="../js/motif_parser.js"></script>
    <script src="../js/bg_parser.js"></script>
    <script src="../js/component_motifs.js"></script>
    <script src="../js/component_sequences.js"></script>
    <script src="../js/component_bfile.js"></script>
    <script src="../js/meme-chip.js"></script>
    <style>
      span.pad {
        display: inline-block;
        min-width: 12em;
      }
    </style>
  </head>
  <body>
    <!--{help/}-->
    <div class="pop_content" id="pop_sequences">
      <p>The input sequences should all be the same length.  
      MEME-ChIP works best with sequences no longer than 2000bp.
      MEME-ChIP can analyze peak regions identified by ChIP-seq, 
      cross-linking sites identified by CLIP-seq and related assays, 
      as well as sets of genomic regions selected using other criteria (e.g., TSSs of
      differentially expressed or bound genes).</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_motifs">
      <p>MEME-ChIP will use this set of motifs for motif enrichment analysis
      and will also report if any motifs that it discovers in your sequences
      are similar to any motifs in this set.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_norc">
      <p>When using the RNA sequences you should select this option to ensure 
      that only the given strand is scanned for motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_norand">
      <p>If your input sequences are sorted in order of confidence (best to worst)
      then you should select this option.  MEME-ChIP will pass  the sequences 
      at the start of the file to MEME.  By default, MEME-ChIP passes a <b>random</b>
      subset of your sequences to MEME.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_background">
      <p>By default MEME-ChIP will determine the background Markov model from 
      the input sequences. You may select a markov model order of 0 to 4.
      Alternately you may select "Upload background model" and input a file containing
      a <a href="../doc/bfile-format.html">background model</a>.</p>
      <p>The downloadable version of the MEME Suite contains a program named
      "fasta-get-markov" that you can use to create background model files in
      the correct format from FASTA sequence files.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" style="width:500px" id="pop_meme_dist">
      <p>This is where you tell MEME how you believe occurrences of the motifs
      are distributed among the sequences. Selecting the correct type of
      distribution improves the sensitivity and quality of the motif search.</p>
      <dl>
        <dt>Zero or one occurrence per sequence</dt>
        <dd>MEME assumes that each sequence may contain <b>at most</b> one
        occurrence of each motif. This option is useful when you suspect that
        some motifs may be missing from some of the sequences. In that case, the
        motifs found will be more accurate than using the one occurrence per
        sequence option. This option takes more computer time than the one 
        occurrence per sequence option (about twice as much) and is slightly less
        sensitive to weak motifs present in all of the sequences.</dd>
        <dt>One occurrence per sequence</dt>
        <dd>MEME assumes that each sequence in the dataset contains
        <b>exactly</b> one occurrence of each motif. This option is the fastest
        and most sensitive but the motifs returned by MEME may be "blurry" if
        any of the sequences is missing them.</dd>
        <dt>Any number of repetitions</dt>
        <dd>MEME assumes each sequence may contain <b>any number</b> of
        non-overlapping occurrences of each motif. This option is useful when
        you suspect that motifs repeat multiple times within a single sequence.
        In that case, the motifs found will be much more accurate than using one
        of the other options. This option can also be used to discover repeats
        within a single sequence. This option takes much more computer time than
        the one occurrence per sequence option (about ten times as much) and is
        somewhat less sensitive to weak motifs which do not repeat within a
        single sequence than the other two options.</dd>
      </dl>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_meme_nmotifs">
      <p>MEME will keep searching until it finds this many motifs or it hits
      some other threshold like the maximum run time. Note that MEME does not
      use an E-value threhold like DREME so you should always check the E-value
      of any found motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_meme_width">
      <p>This is the width (number of characters in the sequence pattern) of a
      single motif. MEME chooses the optimal width of each motif individually
      using a statistical heuristic function. You can choose different limits
      for the minimum and maximum motif widths that MEME will consider. The
      width of each motif that MEME reports will lie within the limits you
      choose.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" style="width:500px" id="pop_meme_sites">
      <p>This is the total number of sites in the training set where a single
      motif occurs. You can choose different limits for the minimum and maximum
      number of occurrences that MEME will consider. If you have prior knowledge
      about the number of occurrences that motifs have in your training set,
      limiting MEME's search in this way can can increase the likelihood of
      MEME finding true motifs.</p>
      <p>MEME chooses the number of occurrences to report for each motif by
      optimizing a statistical heuristic function, restricting the number of
      occurrences to the range you give here, or using defaults described below
      if you leave these fields deselected.</p>
      <table>
      <tr><th>Distribution</th><th>Minimum</th><th>Maximum</th></tr>
      <tr><td>Zero or one occurrence per sequence</td><td>sqrt(n)</td><td>n</td></tr>
      <tr><td>One occurrence per sequence</td><td>n</td><td>n</td></tr>
      <tr><td>Any number of repetitions</td><td>sqrt(n)</td><td>min(5*n, 600)</td></tr>
      </table>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_meme_pal">
      <p>Checking this box causes MEME to search only for DNA palindromes. This
      causes MEME to average the letter frequencies in corresponding motif
      columns together. For instance, if the width of the motif is 10, columns
      1 and 10, 2 and 9, 3 and 8, etc., are averaged together. The averaging
      combines the frequency of A in one column with T in the other, and the
      frequency of C in one column with G in the other. If this box is not
      checked, the columns are not averaged together.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_dreme_limits">
      <p>DREME stops looking for motifs when one of these limits is met. There
      is an additional time limit which is set by the server operator.</p>
      <dl>
        <dt><i>E</i>-value threshold</dt>
        <dd>The expected number of false positives. This may be any positive
        number.  DREME stops if a motif is found whose <i>E</i>-value exceeds
        this threshold.</dd>
        <dt>Number of motifs</dt>
        <dd>DREME stops if it has found this many motifs.  By default DREME
        does not limit the number of motifs to be found.</dd>
      </dl>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_centrimo_score">
      <p>Specify a minimum score for a match to be considered. If a sequence does
      not have any matches which meet this minimum score for a given motif, then
      that sequence will not be considered for that motif.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_centrimo_maxreg">
      <p>This option limits the maximum region size that CentriMo will test.
      This option is useful if your sequences are quite long (&gt; 500bp) or
      you are interested only in narrow regions of enrichment.
      Limiting the size of the maximum region reduces the impact of the 
      multiple testing correction, increasing the sensitivity of the analysis. 
      When this option is not supplied CentriMo will test region sizes up to 
      one less than the maximum number of places that a given motif can align to 
      the sequence.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_centrimo_ethresh">
      <p>This is the E-value threshold CentriMo uses for reporting enriched
      central regions for motifs. If multiple enriched regions overlap then the region
      with the best <i>p</i>-value and smallest size will be output.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_centrimo_local">
      <p>This option causes all regions up to the maximum region size to be
      considered even if they are not in the center. This can be useful when
      your sequences are aligned on a genomic landmark (e.g., TSS) since
      a motif might be enriched at a particular distance upstream or downstream
      of the landmark.
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_centrimo_store_ids">
      <p>This option causes CentriMo to store the identifiers (IDs) of sequences 
      that have their best match in the most enriched region for each motif. This will
      allow you to easily extract the IDs of the sequences contributing to
      the enrichment of one or more motifs in the CentriMo output. This option 
      makes the CentriMo output file much larger.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="content_box">
      <!--{header}-->
      <p>
      <!--{title}-->MEME-ChIP<!--{/title}--> - <!--{subtitle}-->Motif Analysis of Large Nucleotide Datasets<!--{/subtitle}--><br>
      <!--{logo}-->../doc/images/memechip_icon.png<!--{/logo}-->: <!--{alt}-->MEME-ChIP Logo<!--{/alt}--><br>
      <!--{blurb}--><span class="blurb" data-id="memechip"></span><!--{/blurb}-->
      </p>
      <!--{/header}-->
      <form enctype="multipart/form-data" accept-charset="utf-8"
      method="POST" action="meme-chip" id="memechip_form">
        <fieldset>
          <legend>Data Submission Form</legend>
          <p class="meme">Perform motif discovery, motif enrichment analysis and clustering on large nucleotide datasets.</p> 
          <!--{sequences}-->
          <!--{prefix}-->sequences<!--{/prefix}-->
          <!--{title}-->Input the sequences<!--{/title}-->
          <!--{subtitle}-->Enter the (equal-length) nucleotide sequences to be analyzed.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->FILE<!--{/default}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/sequences}-->

          <!--{motifs}-->
          <!--{prefix}-->motifs<!--{/prefix}-->
          <!--{title}-->Input the motifs<!--{/title}-->
          <!--{subtitle}-->Select, upload or enter a set of known motifs.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->DATABASE<!--{/default}-->
          <!--{enable_db/}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/motifs}-->

          <!--{job_details/}-->

          <!-- Advanced Options -->
          <div style="margin-top:5px; margin-bottom: 5px; width:80%;">
          <!--{adv_opts}-->
            <!--{prefix}-->adv_opts<!--{/prefix}-->
            <!--{title}-->Universal options<!--{/title}-->
            <!--{change_fn}-->general_changed<!--{/change_fn}-->
            <!--{reset_fn}-->general_reset<!--{/reset_fn}-->
          <!--{/adv_opts}-->
          <div>
            
            <!--{bfile}-->
              <!--{prefix}-->background<!--{/prefix}-->
              <!--{alphabets}-->DNA<!--{/alphabets}-->
              <!--{enable_zero_order/}-->
              <!--{enable_high_order/}-->
              <!--{enable_upload/}-->
              <!--{selected}-->high<!--{/selected}-->
              <!--{register}-->register_component<!--{/register}-->
            <!--{/bfile}-->

            <h3 class="meme top">Scan both DNA strands?</h3>
            <input type="checkbox" value="1" id="norc" name="norc">
            <label for="norc">scan given strand only</label>
            <div class="help" data-topic="pop_norc"></div>

            <h3 class="meme">Should subsampling be random?</h3>
            <input type="checkbox" value="1" id="norand" name="norand">
            <label for="norand">Sequences are selected in file order</label>
            <div class="help" data-topic="pop_norand"></div>

          </div>
          <!--{meme_opts}-->
            <!--{prefix}-->meme_opts<!--{/prefix}-->
            <!--{title}-->MEME options<!--{/title}-->
            <!--{change_fn}-->meme_changed<!--{/change_fn}-->
            <!--{reset_fn}-->meme_reset<!--{/reset_fn}-->
          <!--{/meme_opts}-->
          <div>
            <h3 class="meme top">What is the expected motif site distribution?</h3>
            <select class="meme" name="meme_dist" id="meme_dist">
              <option value="zoops" selected><b>Zero or one</b> occurrence per sequence</option>
              <option value="oops" ><b>One</b> occurrence per sequence</option>
              <option value="anr" ><b>Any number</b> of repetitions</option>
            </select> 
            <div class="help" data-topic="pop_meme_dist"></div>

            <h3 class="meme">How many motifs should MEME find?</h3>
            <label for="meme_nmotifs">Count of motifs:</label>
            <input class="meme intonly sz3" type="number" name="meme_nmotifs" value="3"
            step="1" min="1" size="2" id="meme_nmotifs">
            <div class="help" data-topic="pop_meme_nmotifs"></div>

            <h3 class="meme">What width motifs should MEME find?</h3>
            <span class="pad">
            <label for="minw">Minimum width:</label>
            <input class="meme intonly sz2" type="number" name="meme_minw" value="6"
            step="1" min="2" max="300" size="2" id="meme_minw">
            </span>

            <label for="maxw">Maximum width:</label>
            <input class="meme intonly sz2" type="number" name="meme_maxw" value="30"
            step="1" min="2" max="300"  size="2" id="meme_maxw">
            <div class="help" data-topic="pop_meme_width"></div>

            <div id="meme_sites">
              <h3 class="meme">How many sites per motif is acceptable?</h3>
              <span class="enabopt pad">
              <input type="checkbox" value="1" name="meme_minsites_enable" id="meme_minsites_enable">
              <label for="meme_minsites">Minimum sites:</label>
              <input class="meme intonly sz2" type="number" id="meme_minsites" 
              name="meme_minsites" value="2" step="1" min="2" max="600" size="2">
              </span>
              <span class="enabopt">
              <input type="checkbox" value="1" name="meme_maxsites_enable" id="meme_maxsites_enable">
              <label for="meme_maxsites">Maximum sites:</label>
              <input class="meme intonly sz3" type="number" id="meme_maxsites" 
              name="meme_maxsites" value="600" step="1" min="2" max="600" size="3">
              </span>
              <div class="help" data-topic="pop_meme_sites"></div>
            </div>
            
            <h3 class="meme">Should MEME restrict the search to palindromes?</h3>
            <input class="meme" type="checkbox" name="meme_pal" value="1" id="meme_pal">
            <label for="meme_pal">look for palindromes only</label>
            <div class="help" data-topic="pop_meme_pal"></div>
          </div>
          <!--{dreme_opts}-->
            <!--{prefix}-->dreme_opts<!--{/prefix}-->
            <!--{title}-->DREME options<!--{/title}-->
            <!--{change_fn}-->dreme_changed<!--{/change_fn}-->
            <!--{reset_fn}-->dreme_reset<!--{/reset_fn}-->
          <!--{/dreme_opts}-->
          <div>
            <h3 class="meme top">How should DREME limit its search?</h3>
            <span class="pad">
            <label for="dreme_ethresh"><i>E</i>-value &le;</label>
            <input class="meme numonly sz3" type="text" name="dreme_ethresh" 
            value="0.05" step="any" min="0" size="3" id="dreme_ethresh">
            </span>
            <span class="enabopt">
            <input type="checkbox" value="1" name="dreme_nmotifs_enable" id="dreme_nmotifs_enable">
            <label for="dreme_nmotifs">Count &le;</label>
            <input class="meme intonly sz2" type="number" id="dreme_nmotifs"
            name="dreme_nmotifs" value="10" step="1" min="1" size="2">
            </span>
            <div class="help" data-topic="pop_dreme_limits"></div>
          </div>
          <!--{centrimo_opts}-->
            <!--{prefix}-->centrimo_opts<!--{/prefix}-->
            <!--{title}-->CentriMo options<!--{/title}-->
            <!--{change_fn}-->centrimo_changed<!--{/change_fn}-->
            <!--{reset_fn}-->centrimo_reset<!--{/reset_fn}-->
          <!--{/centrimo_opts}-->
          <div>
            <h3 class="meme">Set a minimum acceptable match score (bits)</h3>
            <label for="centrimo_score">score &ge;</label>
            <input class="meme numonly sz3" type="text" id="centrimo_score"
            name="centrimo_score" size="3" value="5" step="any">
            <div class="help" data-topic="pop_centrimo_score"></div>

            <h3 class="meme">Set the maximum allowed width of central region</h3>
            <span class="enabopt">
            <input type="checkbox" value="1" name="centrimo_maxreg_enable" id="centrimo_maxreg_enable">
            <label for="centrimo_maxreg">region width &le;</label>
            <input class="meme intonly sz5" type="number" id="centrimo_maxreg"
            name="centrimo_maxreg" value="200" step="1" min="1" size="5">
            </span>
            <div class="help" data-topic="pop_centrimo_maxreg"></div>

            <h3 class="meme">Set <i>E</i>-value threshold for reporting centrally enriched regions</h3>
            <label for="centrimo_ethresh"><i>E</i>-value &le;</label>
            <input class="meme numonly sz5" type="text" id="centrimo_ethresh"
            name="centrimo_ethresh" value="10" step="any" min="0.00000001" size="5">
            <div class="help" data-topic="pop_centrimo_ethresh"></div>
              
            <h3 class="meme">Find uncentered regions</h3>
            <input type="checkbox" value="1" name="centrimo_local" id="centrimo_local">
            <label for="centrimo_local">Run CentriMo in local mode to find uncentered regions</label>
            <div class="help" data-topic="pop_centrimo_local"></div>

            <h3 class="meme">Include sequence IDs</h3>
            <input type="checkbox" value="1" name="centrimo_store_ids" id="centrimo_store_ids" checked>
            <label for="centrimo_store_ids">Include a list of matching sequence ids</label>
            <div class="help" data-topic="pop_centrimo_store_ids"></div>
          </div>
          </div>
          <!-- /Advanced Options -->
          <!--{submit_reset/}-->
        </fieldset>
      </form>
      <!--{footer/}-->
    </div>
  </body>
</html>
