<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GOMo Sequence Databases - MEME Suite</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <style>
      div.category {
        border: 1px solid black;
        padding: 5px;
      }
      div.listing + div.listing {
        margin-top: 20px;
      }
      div.listing h4, div.listing p {
        margin-top: 0;
        margin-bottom: 2px;
      }
      div.listing h5 {
        margin-top: 0;
        margin-bottom: 0;
      }
      div.listing h5 + ul {
        margin-top: 0;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="content_box">
      <noscript>
        <div class="no_script">
          <div class="no_script_warning">
          <h1>Javascript is disabled! &#9785;</h1>
          <p>The MEME Suite web application requires the use of JavaScript but
          Javascript doesn't seem to be available on your browser.</p>
          <p>Please re-enable Javascript to use the MEME Suite.</p>
          </div>
        </div>
      </noscript>
      <div class="memesuitelogo">
        <h1>The MEME Suite</h1>
        <h2>Motif-based sequence analysis tools</h2>
      </div>
      <h1>GOMo Sequence Databases</h1>
      <div class="subcontent">
        <!--{content}-->
        <h2>Categories</h2>
        <ul>
          <!--{category_li}--><li><a href="#cat_${id}"><!--{name}-->A Category<!--{/name}--></a></li><!--{/category_li}-->
        </ul>
        <h2>Databases</h2>
        <div class="subcontent">
          <!--{category}-->
          <h3 id="cat_${id}"><!--{name}-->A Category<!--{/name}--></h3>
          <div class="category">
            <!--{listing}-->
            <div class="listing">
              <h4><!--{name}-->A Listing<!--{/name}--></h4>
              <div class="subcontent">
                <p><!--{description}-->A description of the listing will go here. It
                will be about two or three sentences long.<!--{/description}--></p>
                <!--{secondaries}-->
                <h5>Comparative Species</h5>
                <ul>
                  <!--{secondary}--><li><!--{description}-->Secondary database description<!--{/description}--></li><!--{/secondary}-->
                </ul>
                <!--{/secondaries}-->
              </div>
            </div>
            <!--{/listing}-->
          </div>
          <!--{/category}-->
        </div>
        <!--{/content}-->
      </div>
    </div>
  </body>
</html>


