<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>SpaMo verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "sequences",
      "name": "Sequences",
      "key": "sequences"
    },
    {
      "type": "motifs",
      "name": "Primary Motif",
      "key": "primary"
    }, 
    {
      "type": "motifs",
      "name": "Secondary Motifs",
      "key": "secondaries"
    },
    {
      "type": "number",
      "name": "Margin",
      "key": "margin",
      "any": "A margin of !!VALUE!! will be used as the maximum distance the secondary motif can be found from the primary motif. This is also how close the primary motif can be found to the edge of a sequence."
    },
    {
      "type": "flag",
      "name": "Dump Matches",
      "key": "dumpseqs",
      "on": "A text file containing match information will be written for each primary and secondary motif which has a significant spacing."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of SpaMo",
  "inputs": {
    "sequences": {
      "source": "file",
      "safe-file": "sample-dna-Klf1.fa",
      "orig-file": "sample-dna-Klf1.fa",
      "alphabet": "DNA",
      "count": 904,
      "min": 500,
      "max": 500,
      "avg": 500.0,
      "total": 452000
    },
    "primary": {
      "source": "file",
      "safe-file": "meme.html",
      "orig-file": "meme.html",
      "alphabet": "DNA",
      "count": 2,
      "min": 14,
      "max": 18,
      "avg": 16.0,
      "total": 32
    },
    "secondaries": {
      "source": "db",
      "db_name": "Human and Mouse (Jolma2013)",
      "db_description": "Human and Mouse high-throughput SELEX motifs from <a href=\"http://dx.doi.org/10.1016/j.cell.2012.12.009\"> Cell 2013. 152(1-2):327-339</a>.",
      "alphabet": "DNA",
      "count": 738,
      "min": 7,
      "max": 23,
      "avg": 12.423,
      "total": 9168
    },
    "dumpseqs": false,
    "margin": 150
  }
};
</script>
</head>
<body>
<!--{title}-->SpaMo<!--{/title}--> - <!--{subtitle}-->Spaced Motif Analysis Tool<!--{/subtitle}--><br>
<!--{logo}-->doc/images/spamo_icon.png<!--{/logo}-->: <!--{alt}-->SpaMo Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>


