<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Status - MEME Suite</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/status.css" rel="stylesheet" type="text/css" />
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/status.js"></script>
    <script>
      var service = "XXXXserviceXXXX";
      var id = "XXXXidXXXX";
      var report = XXXXreportXXXX;
    </script>
  </head>
  <body>
    <!-- page begins -->
    <noscript>
      <div class="no_script">
        <div class="no_script_warning">
        <h1>Javascript is disabled! &#9785;</h1>
        <p>The MEME Suite web application requires the use of JavaScript but
        Javascript doesn't seem to be available on your browser.</p>
        <p>Please re-enable Javascript to use the MEME Suite.</p>
        </div>
      </div>
    </noscript>
    <!--{suite_header}-->
    <div class="memesuitelogo">
      <h1>The MEME Suite</h1>
      <h2>Motif-based sequence analysis tools</h2>
    </div>
    <!--{/suite_header}-->
    <!--{program_header}-->
    <div class="prog_logo">
      <img src="${logo}" alt="${alt}">
      <h1>${title}</h1>
      <h2>${subtitle}</h2>
    </div>
    <!--{/program_header}-->
    <p class="XXXXstatusXXXX" id="message">
    <span class="info expired">The job you requested could not be found. If you
    have followed a link in your verification email it is probable that the
    job has expired and the output has been deleted to clear up
    resources.</span>
    <span class="info pending">Please wait. Your ${title} job is now queued 
    awaiting available resources.</span>
    <span class="info active">Please wait. Your ${title} job is now running.
    Further details may be available below.</span>
    <span class="info suspended">Please wait. Your ${title} job has been temporally
    suspended and is awaiting resources to continue.</span>
    <span class="info failed">An error occurred running your ${title} job. Further
    details may be available below.</span>
    <span class="info done">Your ${title} job is complete. The results should be
    displayed below.</span>
    <span class="info unknown">The status code received is unknown.</span>
    </p>
    
    <div class="XXXXdetailsXXXX" tabindex="0" id="details">
      <h3>Job Details</h3>
      <span class="collapsed"> ...</span>
      <span class="expanded"> &#x25BC;</span>
      <script>
      // create scope to avoid polluting global scope
      (function() {
        "use strict";
        var btn;
        btn = $("details");
        btn.addEventListener("click", function() {
          toggle_class(btn, 'expanded');
          resize_preview();
        });
        btn.addEventListener("keypress", function(evt) {
          if (evt.which == 32 || evt.keyCode == 32) {
            toggle_class(btn, 'expanded');
            resize_preview();
          }
        });
      })();
      </script>
    </div>
    <div id="info">
      <p>No job details available to display.</p>
    </div>
    <script>
    (function() {
      "use strict";
       var job, container;
       container = $("info");
       if ((job = get_job(id)) != null) {
         display_job_information(container, report["items"], job);
       }
    })();
    </script>
    <iframe id="preview" src="XXXXurlXXXX" class="XXXXpreviewXXXX"></iframe>
  </body>
</html>
