<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tomtom verification</title>
<link href="../css/status.css" rel="stylesheet" type="text/css" />
<script src="../doc/js/utilities.js"></script>
<script src="../js/status.js"></script>
<script>
var verify = 
<!--{message}-->
{
  "items": [
    {
      "type": "motifs",
      "name": "Query Motifs",
      "key": "queryMotifs"
    }, 
    {
      "type": "motifs",
      "name": "Target Motifs",
      "key": "targetMotifs"
    },
    {
      "type": "choice",
      "name": "Comparison",
      "key": "comparisonFunction",
      "options": {
        "pearson": "The columns of the motifs will be compared using the Pearson correlation coefficient.",
        "ed": "The columns of the motifs will be compared using Euclidean distance.",
        "sandelin": "The columns of the motifs will be compared using Sandelin-Wasserman similarity."
      }
    },
    {
      "type": "flag",
      "name": "Threshold Type",
      "key": "isEvalueThreshold",
      "on": "<i>E</i>-value threshold.",
      "off": "<i>q</i>-value threshold."
    },
    {
      "type": "number",
      "name": "Threshold",
      "key": "threshold",
      "any": "!!VALUE!!"
    },
    {
      "type": "flag",
      "name": "Complete Scoring",
      "key": "completeScoring",
      "on": "Tomtom will score all columns, even those that do not overlap with the other motif."
    }
  ]
}<!--{/message}-->;

var data = {
  "when":1381207216291,
  "expiry": 1381812016291,
  "description": "This is a test of Tomtom",
  "inputs": {
    "queryMotifs": {
      "source": "file",
      "safe-file": "meme.html",
      "orig-file": "meme.html",
      "alphabet": "DNA",
      "count": 2,
      "min": 14,
      "max": 18,
      "avg": 16.0,
      "total": 32
    },
    "targetMotifs": {
      "source": "db",
      "db_name": "Human and Mouse (Jolma2013)",
      "db_description": "Human and Mouse high-throughput SELEX motifs from <a href=\"http://dx.doi.org/10.1016/j.cell.2012.12.009\"> Cell 2013. 152(1-2):327-339</a>.",
      "alphabet": "DNA",
      "count": 738,
      "min": 7,
      "max": 23,
      "avg": 12.423,
      "total": 9168
    },
    "comparisonFunction": "pearson",
    "isEvalueThreshold": true,
    "threshold": 10.0,
    "completeScoring": true
  }
};
</script>
</head>
<body>
<!--{title}-->Tomtom<!--{/title}--> - <!--{subtitle}-->Motif Comparison Tool<!--{/subtitle}--><br>
<!--{logo}-->doc/images/tomtom_icon.png<!--{/logo}-->: <!--{alt}-->Tomtom Logo<!--{/alt}--><br>
<div id="info"></div>
<script>display_job_information($("info"), verify["items"], data);</script>
</body>
</html>


