<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tomtom - Submission form</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/component_motifs.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <!-- wicked-good-xpath library: http://code.google.com/p/wicked-good-xpath/ -->
    <script src="../js/wgxpath.install.js"></script>
    <script src="../js/motif_parser.js"></script>
    <script src="../js/component_motifs.js"></script>
    <script src="../js/tomtom.js"></script>
    <style>
      label.h4equiv {
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        margin: 2px 0;
      }

      div.overlay {
        position:fixed; 
        z-index: 8;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        opacity: 0.5;
      }
      div.banner {
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        background-color: #008F8F;
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="grey_out_page" style="display:none">
      <div class="banner">
        Please wait your request is being processed. This may take a minute.
      </div>
      <div class="overlay"></div>
    </div>
    <!--{help/}-->
    <!-- Help Popups -->
    <div class="pop_content" id="pop_query_motifs">
      <p>Tomtom will compare each of the query motifs to each of
      the target motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_target_motifs">
      <p>Tomtom will compare each of the query motifs to each of
      the target motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    <div class="pop_content" id="pop_instant_run">
      <p>When this option is selected the Tomtom search is run immediately after
      submission and the result is displayed. No files are stored on the server!</p>
      <p>As this search must run fast the query is limited to a single motif. If
      you have input more than one motif then only the first will be used.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>

    

    <div class="content_box">
      <!--{header}-->
      <p>
      <!--{title}-->Tomtom<!--{/title}--> - <!--{subtitle}-->Motif Comparison Tool<!--{/subtitle}--><br>
      <!--{logo}-->../doc/images/tomtom_icon.png<!--{/logo}-->: <!--{alt}-->Tomtom Logo<!--{/alt}--><br>
      <!--{blurb}--><span class="blurb" data-id="tomtom"></span><!--{/blurb}-->
      </p>
      <!--{/header}-->
      <form enctype="multipart/form-data" accept-charset="utf-8"
      method="POST" action="tomtom" id="tomtom_form">
        <fieldset>
          <legend>Data Submission Form</legend>
          <p class="meme">Search one or more DNA motifs against a DNA motif database.</p> 
          <!--{query_motifs}-->
          <!--{prefix}-->query_motifs<!--{/prefix}-->
          <!--{description}-->query motifs<!--{/description}-->
          <!--{title}-->Input query motifs<!--{/title}-->
          <!--{subtitle}-->Enter the motif(s) to compare to known motifs.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->TEXT<!--{/default}-->
          <!--{enable_filter/}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/query_motifs}-->

          <!-- example (floated right) -->
          <div style="float:right">
            <div style="width:100%;text-align:center;font-size:0.6em;">Example Output</div>
            <img src="../images/logo_alignment.png" style="width:200px; border:1px solid black;">
          </div>
          <!-- end float right -->

          <!--{target_motifs}-->
          <!--{prefix}-->target_motifs<!--{/prefix}-->
          <!--{description}-->target motifs<!--{/description}-->
          <!--{title}-->Select target motifs<!--{/title}-->
          <!--{subtitle}-->Choose a <a href="../db/motifs">database</a> or file to compare with.<!--{/subtitle}-->
          <!--{alphabets}-->DNA RNA<!--{/alphabets}-->
          <!--{default}-->DATABASE<!--{/default}-->
          <!--{enable_db/}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{/target_motifs}-->

          <h2 class="meme">Run immediately</h2>
          <div class="subcontent">
            <input type="checkbox" value="1" name="instant_run" id="instant_run" checked>
            <label class="h4equiv" for="instant_run">Search for one motif without queuing</label>
            <div class="help" data-topic="pop_instant_run"></div>
          </div>

          <!--{job_details/}-->
          <div style="margin-top: 5px; margin-bottom: 5px; width: 80%">
            <!--{advanced_options/}-->
            <div>
              <!-- motif comparison function -->
              <h3 class="meme">Select the motif column comparison function</h3>
              <div class="subcontent">
                <select class="meme" name="comparison_function" id="comparison_function">
                  <option selected value="pearson">Pearson correlation coefficient</option>
                  <option value="ed">Euclidean distance</option>
                  <option value="sandelin">Sandelin-Wasserman similarity</option>
                  <!-- 
                  <option value="allr">Average log-likelihood ratio</option>
                  <option value="chi">Pearson chi square test</option>
                  <option value="fish">Fisher-Irwin exact test</option>
                  <option value="kullback">Kullback-Leibler divergence</option>
                  -->
                </select> <div class="help" data-topic="pop_comparison_function"></div><br>
              </div>
              <!-- Significance threshold -->
              <h3 class="meme">Set the significance threshold</h3>
              <div class="subcontent">
                <select class="meme" name="thresh_type" id="thresh_type">
                  <option selected value="1"><i>E</i>-value</option>
                  <option value="0"><i>q</i>-value</option>
                </select>
                 &lt;
                <!-- without html 5 support this is just a text field -->
                <input type="text" name="thresh" id="thresh" class="meme numonly sz4" step="any" value="10" size="4"> 
                <div class="help" data-topic="pop_thresh"></div><br>
              </div>
              <!-- Complete scoring -->
              <h3 class="meme">Activate complete scoring</h3>
              <div class="subcontent">
                <input type="checkbox" name="complete_scoring" id="complete_scoring" class="meme" value="1" checked>
                <label for="complete_scoring">complete scoring</label>
                <div class="help" data-topic="pop_complete_scoring"></div>
              </div>
            </div>
          </div>
          <!--{submit_reset/}-->
        </fieldset>
      </form>
      <!--{footer/}-->
    </div>
  </body>
</html>
