<html>
<head>
<title>Problems with request</title>
</head>
<body>
  <h1>Problems with request</h1>
  <p>Sorry there was a problem processing your request.</p>
  <ul><!--{message}-->
    <li>${text}</li><!--{/message}-->
  </ul>
</body>
</html>
